@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #000000;
}

@theme {
  --color-arch: #000000;
  --color-bulldog: #BA0C2F;
  --color-chapel: #FFFFFF;
  --color-glory: #E4002B;
  --color-stegeman: #9EA2A2;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #FFFFFF;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Verdana, Verdana, sans-serif;
}

.flex-container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
}

.flex-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(2) {
  display: block;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}